@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lobster);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, h3 {
  margin: 0;
  font-family: Lobster, cursive; }

.header {
  background-color: #ffbbbb;
  top: 0;
  width: 100%;
  height: 10%;
  position: fixed;
}

.content {
  background-color: #ffeeee;
  height: 100%;
  padding-top: 10%;
}

  .footer {
    background-color: #ffbbbb;
    bottom: 0;
    width: 100%;
    height: 10%;
    position: fixed;
  }

  .top-navigation {
    height: 100%;
  }

  .navigation-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    height: 100%;
  }

  .navigation-list-item:nth-of-type(1) {
    background-color: #add633;
  }
  .navigation-list-item:nth-of-type(2) {
    background-color: blue;
  }
  .navigation-list-item:nth-of-type(3) {
    background-color: purple;
  }
  .navigation-list-item:nth-of-type(4) {
    background-color: pink;
  }
  .navigation-list-item:nth-of-type(5) {
    background-color: red;
  }

.logo {
  font-family: lobster;
}

.navigation-list-item {
  width: calc(100% / 5);
  text-align: center;
}

.navigation-list-item-container {
}

.nav-img {
  height: 40%;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #add633;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchButton {
  position: absolute;
  right: -50px;
  height: 36px;
  border: 1px solid #add633;
  background: #add633;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.img-panel {
  width: 100%;
  text-align: center;
  margin-top: 20%;
}
